html, body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 90%;
    max-width: 800px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 20px;
}

ul, ol {
    text-align: left;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

section:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

section:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.8);
    background-image: url('img/arrow.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
    background-color: rgba(150, 150, 150, 1);
    transform: scale(1.1);
}
